.contactUs-container {
    .banner {
        background-image: url(../../assets/contact4.png);
        // background-image: url("https: //www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Ffree-photos-vectors%2Fcontact-us-contacts&psig=AOvVaw3oRTGrtsSw-m2AlvNinmoX&ust=1668712838894000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCLjS4fy1s_sCFQAAAAAdAAAAABAD");
        // background-attachment: fixed;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        min-height: 30px;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: moveInBottom 2s ease-out;
        animation-fill-mode: backwards;

        h3 {
            color: white;
            margin-top: 30%;
            animation: moveRightLeft 2s ease-out;
            animation-delay: .5s;
            animation-fill-mode: backwards;
        }
    }

    .main {
        max-width: 1080px;
        width: 80%;
        margin: 0 auto;
        margin-top: 30px;

        .section {
            display: flex;

            .main-left {
                flex: 50%;
                padding: 10px 15px;

                h2 {
                    color: #555555;
                    font-size: 1.6em;
                    line-height: 1.3;
                    margin-bottom: 0.5em;
                    text-rendering: optimizeSpeed;
                }

                .list-contact {
                    display: grid;
                    grid-template-columns: 50% 50%;

                    .contact-item {
                        display: flex;
                        justify-content: center;
                        text-align: center;
                        // width: 100%;
                        // height: 300px;
                        padding: 20px;

                        margin-bottom: 20px;

                        img {
                            width: 70px;
                            height: 75px;
                            margin-bottom: 15px;
                        }

                        h3 {
                            font-size: 1.25em;
                            color: #555;
                            width: 100%;
                            margin-top: 0;
                            margin-bottom: 0.5em;
                            text-rendering: optimizeSpeed;
                        }

                        span {}
                    }

                    .contact-item:hover {
                        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                    }
                }
            }

            .main-right {
                flex: 50%;
                padding: 10px 15px;

                h3 {
                    color: #555555;
                    font-size: 1.6em;
                    line-height: 1.3;
                    margin-bottom: 0.5em;
                    text-rendering: optimizeSpeed;

                    label {
                        color: #222;
                    }
                }

                .text-box {
                    width: fit-content;
                    margin: 0 auto;
                    position: relative;

                    .btn:link,
                    .btn {
                        text-transform: uppercase;
                        text-decoration: none;
                        padding: 5px 15px;
                        display: inline-block;
                        border-radius: 5px;
                        border: 1px solid #FFFFFF;
                        transition: all .2s;
                    }

                    .btn:hover {
                        transform: translateY(-3px);
                        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
                    }

                    // .btn:active {
                    //     transform: translateY(-1px);
                    //     box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
                    // }

                    .btn-white {
                        width: fit-content;
                        background-color: #4DB7B3;
                        color: #FFFFFF;
                        font-weight: bold;
                        padding: 5px 20px;
                    }

                    .btn::after {
                        content: "";
                        display: inline-block;
                        height: 100%;
                        width: 100%;
                        border-radius: 5px;
                        border: 1px solid #FFFFFF;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: -1;
                        transition: all .4s;
                    }

                    .btn-white::after {
                        background-color: #4DB7B3;
                    }

                    .btn:hover::after {
                        transform: scaleX(1.4) scaleY(1.6);
                        opacity: 0;
                    }

                    .btn-animated {
                        animation: moveInBottom 2s ease-out;
                        animation-fill-mode: backwards;
                    }
                }
            }

            .partners {
                width: 100%;
                display: flex;
                align-items: center;

                .left {
                    flex: 50%;

                    img {
                        width: 90%;

                    }

                    &.animation {
                        animation: moveInBottom 3s ease-out;
                        animation-fill-mode: backwards;
                        // visibility: visiblen !important;
                    }
                }

                .right {
                    flex: 50%;
                    text-align: center;

                    // visibility: hidden;
                    h2 {
                        font-weight: 500;
                        font-size: 30px;
                        letter-spacing: 2px;
                        color: #4DB7B3;
                    }

                    h3 {
                        color: #f299c2;
                        text-align: center;
                        font-size: 15px;
                    }

                    .btn-partners {
                        border: 2px solid #4DB7B3;
                        margin-top: 20px;
                        padding: 5px 20px;
                        color: #4DB7B3;
                        outline: none;
                        transition: all .3s ease;
                        box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 22%);
                    }

                    .btn-partners:hover {
                        background-color: #4DB7B3;
                        color: #FFFFFF;
                        box-shadow: none;
                    }

                    &.animation {
                        animation: moveRightLeft 3s ease-out;
                        animation-fill-mode: backwards;
                        // visibility: visiblen !important;
                    }
                }
            }
        }

        .map {
            width: 100%;
            padding-bottom: 30px;
        }

        @keyframes moveInBottom {
            0% {
                opacity: 0;
                transform: translateX(-40px);
            }

            100% {
                opacity: 1;
                transform: translateX(0px);
            }
        }

        @keyframes moveRightLeft {
            0% {
                opacity: 0;
                transform: translateX(100px);
            }

            100% {
                opacity: 1;
                transform: translateX(0px);
            }
        }
    }
    @media screen and (max-width: 900px){
        .banner{
            justify-content: flex-start;
            
            h3{
                margin-top: 30%;
                margin-left: 20px;
                font-size: 13px;
            }
        }
        .main{
            width: 100%;
        }
        .map{
            padding: 10px;
        }
    }
    @media screen and (max-width: 750px){
        .main{
            .section{
                display: block;
            }
        }
        .map{
            padding: 10px;
        }
    }
}