.wrapper {
    background-color: #fbfcfc;

    .container {
        font-family: "Montserrat", Avenir, Helvetica, Arial, sans-serif !important;
        // max-width: 1080px;
        display: flex;
        justify-content: space-evenly;
        padding: 30px 0;

        .column {
            h2 {
                font-size: 18px !important;
                color: #777;
                font-weight: 500 !important;
                line-height: 1.5;
                letter-spacing: .05em !important;
                text-transform: uppercase;

                span {
                    display: block;
                }
            }

            .line-big {
                height: 3px;
                display: block;
                background-color: rgba(0, 0, 0, 0.1);
                margin: 1em 0 1em;
                width: 100%;
                max-width: 30px;
            }

            .social {
                display: flex;
                text-decoration: none;
                align-items: center;
                display: flex;
                line-height: 0;
                // transition: transform 1s ease;


                .icon {
                    display: block;
                    border-radius: 9999px;
                    height: auto;
                    font-size: 30px;
                    padding: 10px 10px 10px 0;
                }

                span {
                    font-size: 16px !important;
                    color: black;

                    &:hover {
                        color: #919191 !important;
                    }
                }

                &:hover {
                    transition: transform .1s ease;
                    transform: scale(1.05);
                    color: #919191 !important;
                }
            }

            .link-page {
                display: inline-block;
                padding: 6px 0;
                flex: 1;
                color: #919191;
                text-decoration: none;

                &:hover {
                    color: #000;
                }
            }

            .line-small {
                height: 0.2px;
                display: block;
                background-color: rgba(0, 0, 0, 0.08);
                width: 220px;
                // width: 100%;
            }

        }

    }

    .payment {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #004754;
        padding: 18px 0;
        // margin: 10px 0;

        &-icons {
            display: flex;
            padding: 5px;
            margin-bottom: 8px;
        }

        &-icon {
            display: flex;
            opacity: .6;
            transition: opacity .3s;
            border-radius: 5px;
            padding: 6px;
            margin: 3px 3px 0;
            color: rgba(255, 255, 255, 0.5) !important;
            background-color: rgba(21, 103, 117, 0.8);

            svg {
                fill: #fff !important;
            }

            &:hover {
                opacity: 1;
            }
        }

        .copyright {
            color: #fff;
            opacity: .6;
            font-size: 15px !important;
        }
    }
}


@media screen and (max-width: 900px) {
    .wrapper {
        .container {
            flex-direction: column;
            margin: 20px;

            .column {
                h2 {
                    margin-top: 50px;

                    span {
                        display: inline-block;
                    }
                }

                .items {
                    display: flex;
                    flex-direction: row;

                    .social:nth-child(2) {
                        margin: 0 20px;
                    }

                }

                .line-small {
                    width: 100%;
                }
            }
        }
    }
}