.main-container {
    // width: 800px;
    padding: 20px;
    .header-account {
        display: flex;
        padding-bottom: 15px;
        border-bottom: 1px solid #c7b7b7;

        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 20px;
        }

        .name-wrapper {
            display: flex;
            flex-direction: column;

            .edit-wrapper {
                display: flex;
                color: #4db7b3;
                font-size: 14px;
                align-items: center;
                cursor: pointer;

                label {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                }

                p {
                    margin: 0;
                    margin-left: 5px;
                }
                .form-control-file {
        width: 100px;
      }
      input[type="file"] {
        display: none;
      }
            }
        }
    }

    .form {
        display: flex;
        margin-top: 10px;
        label {
            display: block !important;
            font-weight: 600;
        }

        .left {
            flex: 1;
            margin-right: 30px;
        }

        .right {
            flex: 1;
            margin-left: 30px;

            .avatar {
                width: 70px;
                height: 70px;
            }

            .avatar {
                margin-top: 10px;
                border-radius: 50%;
            }

            .form-control-file {
                width: 100px;
            }

            input[type="file"] {
                display: none;
            }

            .custom-file-upload {
                width: fit-content;
                border: 1px solid #ccc;
                display: inline-block;
                padding: 6px 12px;
                cursor: pointer;
            }

            .input-row {

                &-group {
                    display: flex;
                    align-items: center;

                    &-left {
                        margin-right: 20px;
                    }
                }
            }
        }

        &::v-deep .v-input input {
            padding: 0 !important;
        }

        &::v-deep .v-input__slot {
            min-height: 36px;
            width: 350px;
            background-color: #edf4f4;
        }

        &::v-deep .v-input__append-inner {
            margin: 0;
            height: 40px;
            align-items: center;
        }
    }

    .btn-group {
        display: flex;
        justify-content: right;
        width: 100%;
        margin-bottom: 10px;

        .btn-cancel {
            padding: 7px 15px;
            color: white;
            border-radius: 6px;
            background-color: #cbcccc;
            transition: all ease 0.5s;
            cursor: pointer;
            font-weight: 600;

            &:hover {
                background-color: #389390;
            }
        }

        .btn-submit {
            padding: 7px 15px;
            color: white;
            border-radius: 6px;
            background-color: #51b7b3;
            margin-left: 15px;
            transition: all ease 0.5s;
            cursor: pointer;
            font-weight: 600;

            &:hover {
                background-color: #389390;
            }
        }
    }

}
@media screen and (max-width: 1200px) {
    ::v-deep .v-input__slot {
            width: 100% !important;
        }
}
@media screen and (max-width: 560px) {
    .main-container .form {
        flex-direction: column !important;
        align-items: flex-start;
        .left {
            margin-right: 0;
        }
        .right {
            margin-left: 0;
            width: 100% !important;
        }
    }
    .main-container .btn-group {
        justify-content: flex-start;
    }
}
@media screen and (max-width: 400px) {
    .main-container {
        padding: 0;
    }
    .main-container .btn-group {
        flex-direction: column;
        margin-left: 0;
        .btn {
            text-align: center;
        }
        .btn-submit {
            margin-left: 0;
            margin-top: 7px;
        }
    }
    
}