:global(.v-toast) {
  z-index: 99999999 !important;
  font-family: "Montserrat", Avenir, Helvetica, Arial, sans-serif !important;
}

::v-deep .account-links {
  text-decoration: none !important; 
  color: rgba(0, 0, 0, 0.87);
}

.responsive-container {
  margin-top: 20px;
  margin-right: 15px;
  width: 100vw;
  color: white;

  .exit-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    width: 100%;

    .exit {
      top: 0;
      color: white;
      padding: 15px;
      cursor: pointer;

      &:hover {
        color: #4db7b3;
        transition: 0.3 ease;
      }
    }
  }

  .search-frame {
    color: white;
    display: flex;
    max-width: 50vw;
    margin: auto;

    svg {
      margin: auto;
      margin-left: 10px;
      cursor: pointer;
      transition: 0.3s ease;

      &:hover {
        color: rgba(0, 0, 0, 0.915);
      }
    }

    .column-search {
      float: left;
      width: 50vw;
      margin: 40px 3%;
      position: relative;
    }

    /* necessary to give position: relative to parent. */
    input[type="text"] {
      font-size: 22px;
      color: white;
      border-radius: 20px;
      background-color: #a0eae8bc;
      width: 100%;
      padding: 5px;
      padding-left: 15px;
      box-sizing: border-box;
      letter-spacing: 1px;
      z-index: 1;
      outline: 2px solid transparent;
    }

    :focus {
      outline: 2px solid #ffffff !important;
      transition: 0.3s ease-out;
    }

    .effect-20~label {
      position: absolute;
      left: 14px;
      top: 10px;
      color: white;
      transition: 0.3s;
      z-index: 0;
      letter-spacing: 0.5px;
    }

    .effect-20:focus~label,
    .has-content.effect-20~label {
      top: -25px;
      left: 0;
      font-size: 12px;
      color: white;
      transition: 0.3s;
    }
  }

  .links {
    max-width: 50vw;
    list-style-type: none;
    text-align: center;
    font-size: 1.5em;
    padding: 0 !important;
    margin: auto;

    ::v-deep .v-list {
      color: rgba(255, 255, 255, 0.797);
      background-color: rgba(0, 0, 0, 0.1);
    }

    li {
      padding: 2rem 0;

      &:hover {
        background-color: rgba(0, 0, 0, 0.064);
      }
    }

    a {
      text-decoration: none;
      color: white;
    }
  }
}

.nav-container::v-deep .v-overlay--absolute {
  position: fixed !important;
}

.v-dialog__content::v-deep .v-dialog {
  max-height: 100vh !important;
  overflow-y: scroll;
  height: 100vh;
  margin: 0 !important;
  background-color: #4db7b47c;
}

.v-dialog__content::v-deep .v-card {
  background-color: transparent !important;
  box-shadow: none !important;
}

.v-dialog__content::v-deep .v-dialog {
  position: absolute !important;
  top: 0 !important;
}

.v-list::v-deep .v-list-item {
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.nav-container {
  .v-overlay {
    max-height: 100vh;
    align-items: normal !important;
    position: fixed !important;

    &__content {
      width: 100vw;

      .search-container {
        width: 100vw;
        height: 55vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .column-search {
          float: left;
          width: 50vw;
          margin: 40px 3%;
          position: relative;

          label {
            color: white;
          }
        }

        /* necessary to give position: relative to parent. */
        input[type="text"] {
          font-size: 22px;
          color: white;
          border-radius: 20px;
          background-color: #4db7b483;
          width: 100%;
          padding: 5px;
          padding-left: 15px;
          box-sizing: border-box;
          letter-spacing: 1px;
          z-index: 1;
          outline: 2px solid transparent;
        }

        :focus {
          outline: 2px solid #4db7b3 !important;
          transition: 0.3s ease-out;
        }

        .effect-20~label {
          position: absolute;
          left: 14px;
          top: 10px;
          color: rgba(255, 255, 255, 0.4);
          transition: 0.3s;
          z-index: 0;
          letter-spacing: 0.5px;
        }

        .effect-20:focus~label,
        .has-content.effect-20~label {
          top: -18px;
          left: 0;
          font-size: 12px;
          color: white;
          transition: 0.3s;
        }

        .exit {
          display: flex;
          width: 100%;
          top: 0;
          justify-content: flex-end;
          cursor: pointer;

          svg {
            padding: 30px;
          }

          &:hover {
            color: #4db7b3;
            transition: 0.3 ease;
          }
        }

        .search-frame {
          display: flex;
          margin-top: 1vh;
          max-width: 50vw;
          margin-left: auto;
          margin-right: auto;

          .v-input {
            width: 30vw;

            input {
              max-height: 45px;
            }
          }

          .search {
            margin: auto;
            margin-left: 10px;
            cursor: pointer;
            transition: 0.3s ease;

            &:hover {
              color: rgba(0, 0, 0, 0.2);
            }
          }
        }
      }
    }
  }

  aside {
    z-index: 9999999999999;
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 320px !important;

    .exit {
      display: flex;
      justify-content: flex-end;
      margin: 15px 15px 0 0;

      svg {
        cursor: pointer;
        width: 20px;
      }
    }

    h3 {
      text-align: center;
      font-weight: 500;
      color: black;
      margin: 0px !important;
    }

    hr {
      width: 50px;
      border: none;
      background-color: #afafaf;
      height: 2px;
      margin: auto;
      margin-top: 0.8rem;
    }

    .v-list {
      padding: 0;
      margin: 1rem 0;
    }

    .v-list-item {
      padding: 7px 0;
      border-bottom: 2px solid #a2a2a222;
    }

    .cart-item-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: auto;

      .item-img {
        margin: auto 0;

        img {
          width: 60px;
        }
      }

      .cart-item-content {
        display: flex;
        flex-direction: column;
        margin-right: 3.5rem;

        a {
          text-decoration: none;
          color: #7d7d7d;
          white-space: nowrap;
          overflow: hidden !important;
          text-overflow: ellipsis;

          &:hover {
            color: black;
          }
        }

        .quanty-price {
          display: flex;
          justify-content: space-between;
          font-size: smaller;
          font-weight: 600;
          color: #7d7d7d;
        }

        p {
          margin: 0;
          margin-right: 5px;
        }

        .variance {
          font-size: smaller;
        }
      }

      .delete {
        svg {
          color: #9a9a9a;
          font-size: 8px !important;
          padding: 5px 7px;
          border-radius: 50%;
          border: 2px solid #9a9a9a;
          transition: 0.3s ease;

          &:hover {
            color: black;
            border-color: black;
          }
        }
      }
    }

    .subtotal {
      display: flex;
      justify-content: center;
      padding: 10px 0;
      border-top: 2px solid #9a9a9a28;
      border-bottom: 2px solid #9a9a9a28;
      margin-bottom: 0.5rem;

      p {
        &:nth-child(2) {
          font-weight: 700;
        }
      }

      * {
        margin: 0 5px;
      }
    }

    a {
      text-decoration: none;
    }

    .v-btn {
      margin: 0.5rem 0;
      box-shadow: none;
    }
  }

  .topBar-container {
    background-color: white;

    .topBar {
      display: flex;
      padding: 0 10px;
      justify-content: space-between;
      max-width: 1080px;
      height: 30px;
      margin: 0 auto;
      background-color: white;
      font-size: 12px;
      z-index: 0;

      .leftSection {
        line-height: 30px;
      }

      .rightSection {
        display: flex;

        svg {
          margin: auto 5px;
          font-size: 13px;
        }

        .time {
          display: flex;
          line-height: 30px;

          a {
            color: #7d7d7d;
            cursor: default;
          }

          &:hover {

            svg,
            a {
              color: black;
              transition: 0.3s ease;
            }
          }
        }

        .divider {
          height: 15px;
          border-right: 1px solid rgba(0, 0, 0, 0.1);
          margin: auto 10px;
        }

        .phone {
          line-height: 30px;

          svg {
            margin-left: 0;
          }

          a {
            text-decoration: none;
            color: #7d7d7d;
          }

          &:hover {

            svg,
            a {
              color: black;
              transition: 0.3s ease;
            }
          }
        }
      }
    }
  }

  .mainContainer {
    display: flex;
    width: 100vw;
    height: 72px;

    &:after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      width: 100vw;
      height: 72px;
      padding: 0;
      opacity: 0.15;
      background: url(https://plasocks.com/wp-content/uploads/2022/07/277602375_1042043753054162_4429385387159967082_n.jpg) repeat-x;
      // background-color: white;
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      width: 100vw;
      height: 72px;
      padding: 0;
      background-color: white;
    }

    .content {
      height: max-content;
      max-width: 1080px;
      width: 1080px;
      height: 72px;
      margin: auto auto;
      padding: 0 10px;
      display: flex;
      justify-content: space-between;
      z-index: 99999;

      .hamburger-menu {
        margin: auto 1rem;
        color: #4db7b3;
        display: none;

        &:hover {
          cursor: pointer;
        }

        span {
          margin-left: 4px;
        }

        .v-dialog__content {
          ::v-deep .v-dialog {
            max-height: 100vh !important;
            margin: 0 !important;
            background-color: #4db7b47c !important;
          }
        }

        .responsive-container {
          color: white;

          .links {
            list-style-type: none;
            text-align: center;
            width: 100%;
            font-size: 1.5em;

            ::v-deep .v-list {
              background-color: rgba(0, 0, 0, 0.1);
            }

            li {
              padding: 1rem 0;
              border-radius: 10px;

              &:hover {
                background-color: rgba(0, 0, 0, 0.1);
              }
            }

            a {
              text-decoration: none;
              color: white;
            }
          }
        }
      }

      .logo {
        display: flex;

        img {
          width: 90px;
          margin: auto;
        }
      }

      .links {
        display: flex;
        font-size: 12.8px;
        margin-top: auto;
        margin-bottom: auto;
        list-style-type: none;

        li {
          display: flex;
          margin-right: 10px;
        }

        a {
          margin: auto;
          padding: 10px 0;
          transition: 0.3s ease;
          text-decoration: none;
          border-bottom: 3px solid transparent;
          border-top: 3px solid transparent;
          color: #7d7d7d;

          &:hover {
            border-bottom: 3px solid #4db7b3;
            color: black;
          }

          &.Active {
            border-bottom: 3px solid #4db7b3;
            color: black;
          }

          &.inActive {
            border-bottom: 3px solid transparent;
            border-top: 3px solid transparent;
            color: #7d7d7d;
          }
        }
      }

      .icons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: auto;
        margin-bottom: auto;
        list-style: none;

        li {
          border-right: 1px solid rgba(0, 0, 0, 0.1);

          &:last-of-type {
            border-right: none;
          }
        }

        .icons-item {
          cursor: pointer;
          color: #4db7b3;
          padding: 7px;
          transition: 0.3 ease;
        }

        .user {
          &:hover {
            color: black;
          }
        }

        .current-ava {
          width: 32px;
          height: 32px;
          background-color: white;
          padding: 3px;
          border-radius: 50%;
          border: 1px solid #4db7b3;
          transition: 0.3s ease;
          &:hover {
            opacity: 0.7;
          }
        }

        .account-links {
          text-decoration: none;
        }

        .fa-circle-user {
          font-size: 32px;
          color: #4db7b3;
        }

        .search {
          border: 1px solid #4db7b3;
          border-radius: 50%;
          text-align: center;
          cursor: pointer;

          &:hover {
            color: white;
            background-color: black;
            border-color: black;
          }
        }

        .cart {
          border: 1px solid #4db7b3;
          border-radius: 10%;
          margin: 0 5px;

          &:hover {
            color: white;
            background-color: black;
            border-color: black;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .nav-container {
    .mainContainer {
      .content {
        .hamburger-menu {
          display: flex;
        }

        .links {
          display: none;
        }

        .icons {
          padding-right: 15px;
          grid-template-columns: repeat(1, 1fr);

          .user,
          .current-ava,
          .search {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 501px) {
  .nav-container {
    .topBar-container {
      .topBar {
        justify-content: center;

        .rightSection {
          display: none;
        }
      }
    }
  }
}